@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
html { overflow-y: scroll; height: 100%;}

body {
    width: 60%;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
  	background: rgb(255, 252, 245);
}
@media only screen and (max-device-width: 1440px) {
  body {
      width: 70%;
      margin: 0px;
      margin-left: auto;
      margin-right: auto;
    	background: rgb(255, 252, 245);
  }
    }
@media only screen and (max-device-width: 640px) {
  body {
      width: 100%;
      margin: 0px;
      margin-left: auto;
      margin-right: auto;
    	background: rgb(255, 252, 245);
  }
    }

.header
{
  background: rgb(29, 17, 40);
  color: #FFFFFF;
  height: 90px;
}

.content
{
    background: #FFF;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.footer {
    background: #FFF;
  	height: 55px;
}

nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float:right;
}

nav ul {
    font-family:'Century Gothic', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
    color: #FFFFFF;
    margin: auto;
    font-size: 1.5em;
    margin-right: 20px;
}

.nav li.active > a {
	background-color: #333;
	color: #000;
}

.header a, .site-info a {
    color: #FFFFFF;
    text-decoration: none;
}

.site-info a:hover {
    text-decoration: none;
}

.footer a {
    color: #000000;
    text-decoration: none;
}

.site-info {
    font-family:'Century Gothic', 'Arial', 'Sans-Serif';
    font-size: 3em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
    font-weight: bold;
    float:left;
    color: #FFFFFF;
}

.static {
  position:absolute;
  background: white;
}

.static:hover {
  opacity:0;
}




a {
    text-decoration: none;
    font-family:'Roboto Slab';
}

a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Century Gothic', 'Helvetica', 'Arial', 'Sans-Serif';
}

h1 a {
    font-size: 1em;
    font-family:'Century Gothic', 'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 1.75em;
    font-family:'Century Gothic', 'Helvetica', 'Arial', 'Sans-Serif';
}

h2 a {
    font-size: 1em;
    font-family:'Century Gothic', 'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.25em;
    line-height: 1.4em;
    color: #333;
    font-family:'Roboto Slab';
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* clearfix start */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background: #FFF url(images/fond_content.jpg) repeat-x top; */
}


html[xmlns] .clearfix {
    display: block;
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
/* clearfix end */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
