<!DOCTYPE html>
<html>
	<head>
    <title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/sss/sss.css" media="all">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		<script src="/sss/sss.min.js"></script>
		<script>jQuery(function($) { $('.slider').sss({slideShow : true}); });</script>
	</head>
	<body>
	<div class="clearfix">
		<div class="header">
			<div class="site-info"><a href="/">Salim Mansour</a></div>
			<nav>
	    		<ul>
	        		<li><a href="/">about</a></li>
	        		<li><a href="/resume">resume</a></li>
	        		<li><a href="/projects">projects</a></li>
	    		</ul>
			</nav>
		</div>
		<div class="content">
			<div class="container">

	    {{ content }}

			</div><!-- /.container -->
		</div><!-- /.container -->
		<div class="footer">
			<nav>
  		<ul>
			<li><a href="https://www.instagram.com/slimnsour">art</a></li>
      		<li><a href="mailto:slimnsour@gmail.com">email</a></li>
      		<!--<li><a href="https://github.com/slimnsour">github</a></li>-->
		      <li><a href="https://www.linkedin.com/in/slimnsour">linkedin</a></li>
			</ul>
			</nav>
		</div>
	</div>
	</body>
</html>
